<!doctype html>
<html>
<head>
    <title>Hey! Meadowlark Travel</title>
</head>
<body>
	<pre>
	BODY START::
	</pre>

	<header><img src="/img/logo.jpg" alt="Logo" height="50"></header>

	{{{body}}}

	<pre>
	BODY END
	</pre>
</body>
</html>
